@use "../../scss/utils";

.rating {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 5px;
  margin-top: 15px;

  img {
    width: 30px;
  }
}

@media (max-width: utils.$small-screen-width) {
  .rating {
    justify-content: flex-start;
    margin-top: 0;
    gap: 3px;

    img {
      width: 25px;
    }
  }
}
