//Main colors
$main-color: #f46062;
$secondary-color: #f6f6f6;

//Background
$bg-dark: black;
$bg-light: white;

//Text
$txt-dark-bg: white;
$txt-light-bg: black;

//Screen sizes
$desktop-max-width: 1500px;
$small-screen-width: 850px;
