.slideshow span, .card span {
  font-size: 18px;
  font-weight: 500;
}

footer, .error, .banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card span, .banner h1 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.about-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-banner {
  width: 100%;
  height: 220px;
  margin-bottom: 50px;
}

.about-drop-boxes {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

/* Small devices */
@media (max-width: 850px) {
  .about-banner {
    height: 110px;
    margin-bottom: 30px;
  }
  .about-drop-boxes {
    width: 100%;
    gap: 20px;
  }
}
.accomodation-slideshow {
  width: 100%;
  margin-bottom: 30px;
}

.accomodation-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.accomodation-title {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.accomodation-title h2 {
  color: #f46062;
  font-size: 36px;
  font-weight: 500;
  margin: 0 0 5px 0;
}
.accomodation-title h2 + span {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.accomodation-title div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.accomodation-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f46062;
}
.accomodation-rating img {
  width: 64px;
  border-radius: 50%;
}

.accomodation-host {
  display: flex;
  text-align: right;
  align-items: center;
  max-width: 180px;
  gap: 15px;
}

.accomodation-description {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 50px;
}

.banner {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 5px 5px gray;
  cursor: default;
}
.banner::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}
.banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.banner h1 {
  color: white;
  font-size: 48px;
  z-index: 10;
  position: absolute;
  padding: 30px;
}

@media (max-width: 850px) {
  .banner h1 {
    font-size: 28px;
  }
}
body {
  max-width: 1500px;
  margin: auto;
  font-family: "Montserrat";
  font-size: 18px;
}

header,
main {
  margin: 0 50px;
}

@media (max-width: 850px) {
  main {
    margin: 0 30px;
  }
}
.card {
  height: 320px;
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px 0;
  cursor: pointer;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.card span {
  color: white;
  z-index: 100;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

@media (max-width: 850px) {
  .card {
    width: 100%;
  }
}
.drop-box {
  width: 100%;
}

.drop-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f46062;
  color: white;
  font-size: 22px;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px;
}

.drop-txt {
  background-color: #fbfbfb;
  font-size: 18px;
  font-weight: 400;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  max-height: 0;
  transition: max-height 0.4s ease;
}
.drop-txt ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.is-open {
  max-height: 500px;
}

.is-closed {
  display: none;
}

.fa-spin {
  --fa-animation-duration: 0.3s;
  --fa-animation-iteration-count: 0.5;
}

@media (max-width: 850px) {
  .drop-title {
    font-size: 16px;
  }
  .drop-txt {
    font-size: 14px;
  }
}
.error {
  flex-direction: column;
  color: #f46062;
}
.error span {
  margin-top: 80px;
  color: #f46062;
  font-size: 288px;
  font-weight: 700;
}
.error p {
  margin-top: 100px;
  font-size: 36px;
  font-weight: 500;
}
.error a {
  margin-top: 120px;
  margin-bottom: 50px;
  color: black;
}

footer {
  width: 100vw;
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 30px 0;
}
footer img {
  height: 40px;
  margin-bottom: 30px;
}

.footer-legal-notice {
  display: flex;
  gap: 5px;
}

@media (min-width: 1500px) {
  footer {
    translate: calc(-1 * (100vw - 1500px) / 2);
  }
}
@media (max-width: 850px) {
  .footer-legal-notice {
    flex-direction: column;
    align-items: center;
  }
}
.gallery {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 20px;
  background-color: #f6f6f6;
  padding: 20px;
}

@media (max-width: 850px) {
  .gallery {
    width: 100%;
    flex-direction: column;
    border-radius: 0;
    background-color: unset;
    padding: 0;
  }
}
header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}
header img {
  height: 50px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
header nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.active-link {
  text-decoration: underline;
}

@media (max-width: 850px) {
  header nav {
    justify-content: space-around;
  }
  header nav a {
    font-size: 16px;
  }
}
.home-banner {
  height: 220px;
  margin-bottom: 50px;
}

.home-gallery {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

@media (max-width: 850px) {
  .home-banner {
    height: 110px;
    font-size: 24px;
  }
  .home-gallery {
    margin-bottom: 0;
  }
}
.rating {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 5px;
  margin: 15px 15px;
}

.slideshow {
  width: 100%;
  position: relative;
}
.slideshow img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}
.slideshow .sld-arrow {
  width: 40px;
  position: absolute;
  object-fit: contain;
  opacity: 0.9;
  top: 40%;
  color: white;
  cursor: pointer;
}
.slideshow .prev {
  left: 20px;
}
.slideshow .next {
  right: 20px;
}
.slideshow span {
  color: white;
  position: absolute;
  bottom: 20px;
  right: 50%;
}

.is-visible {
  display: unset;
}

.is-invisible {
  display: none;
}

.tag {
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: white;
  background-color: #f46062;
  padding: 3px 40px;
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */