.home-gallery, footer, .error, .banner, .about-content, .about-drop-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card span, .banner h1 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.about-content {
  width: 100%;
  flex-direction: column;
}

.about-banner {
  width: 100%;
  height: 220px;
  margin-bottom: 50px;
}

.about-drop-boxes {
  flex-direction: column;
  width: 80%;
  gap: 30px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .about-banner {
    height: 130px;
    margin-bottom: 30px;
  }
  .about-drop-boxes {
    width: 100%;
    gap: 20px;
    margin-bottom: 25px;
  }
}
.accomodation-slideshow {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
}

.accomodation-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.accomodation-title {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.accomodation-title h2 {
  color: #f46062;
  font-size: 36px;
  font-weight: 500;
  margin: 0 0 5px 0;
}
.accomodation-title h2 + span {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.accomodation-title div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.accomodation-rating {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.accomodation-description {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .accomodation-slideshow {
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .accomodation-infos {
    flex-direction: column;
    margin-bottom: 15px;
  }
  .accomodation-title {
    width: 100%;
    margin-bottom: 10px;
  }
  .accomodation-title h2 {
    font-size: 22px;
  }
  .accomodation-title h2 + span {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .accomodation-rating {
    flex-direction: row-reverse;
    margin-top: 5px;
  }
  .accomodation-description {
    flex-direction: column;
    gap: 30px;
  }
}
.banner {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 5px 5px gray;
  cursor: default;
}
.banner::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}
.banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.banner h1 {
  color: white;
  font-size: 48px;
  z-index: 10;
  position: absolute;
  padding: 30px;
}

@media (max-width: 768px) {
  .banner {
    justify-content: unset;
    border-radius: 15px;
    box-shadow: unset;
  }
  .banner::after {
    border-radius: 15px;
  }
  .banner img {
    border-radius: 15px;
  }
  .banner h1 {
    font-size: 24px;
  }
}
html {
  height: 100%;
}

#root {
  height: 100%;
}

#main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  height: 100%;
  max-width: 1520px;
  margin: auto;
  font-family: "Montserrat";
  font-size: 18px;
}

main {
  flex-grow: 1;
}

header,
main {
  margin: 0 50px;
}

.conditionnal-break {
  display: none;
}

@media (max-width: 768px) {
  header,
  main {
    margin: 0 30px;
  }
  .conditionnal-break {
    display: unset;
  }
}
.card {
  height: 320px;
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px 0;
  cursor: pointer;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.card span {
  width: 50%;
  font-size: 16px;
  font-weight: 500;
  color: white;
  z-index: 100;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    height: 280px;
    margin: 10px 0;
  }
}
.drop-box {
  width: 100%;
}

.drop-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f46062;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px;
  cursor: default;
}
.drop-title img {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.drop-txt {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.4s ease-in-out;
  font-size: 18px;
  font-weight: 400;
}
.drop-txt .drop-txt-content {
  background-color: #fbfbfb;
  border-radius: 0 0 5px 5px;
  margin-top: -5px;
  z-index: -10;
  overflow: hidden;
}
.drop-txt .drop-txt-content span {
  display: block;
  padding: 20px;
}
.drop-txt ul {
  list-style-type: none;
  padding: 20px;
  margin: 0;
}

.is-open {
  grid-template-rows: 1fr;
}

.rotated {
  transform: rotate(-180deg);
}

@media (max-width: 768px) {
  .drop-title {
    font-size: 16px;
  }
  .drop-title img {
    height: 13px;
  }
  .drop-txt {
    font-size: 14px;
  }
}
.error {
  flex-direction: column;
  color: #f46062;
  cursor: default;
}
.error span {
  margin-top: 60px;
  color: #f46062;
  font-size: 260px;
  font-weight: 700;
}
.error p {
  margin-top: 80px;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}
.error a {
  margin-top: 80px;
  margin-bottom: 120px;
  color: black;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .error span {
    margin-top: 90px;
    font-size: 120px;
  }
  .error p {
    margin-top: 120px;
    font-size: 22px;
  }
  .error a {
    margin-top: 120px;
    margin-bottom: 130px;
  }
}
footer {
  width: 100vw;
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 70px 0 30px;
  cursor: default;
}
footer img {
  height: 40px;
  margin-bottom: 40px;
}

.footer-legal-notice {
  font-size: 20px;
}

@media (min-width: 1520px) {
  footer {
    translate: calc(-1 * (100vw - 1520px) / 2);
  }
}
@media (max-width: 768px) {
  footer {
    padding: 80px 0;
  }
  footer img {
    height: 45px;
    margin-bottom: 15px;
  }
  .footer-legal-notice {
    align-items: center;
    font-size: 14px;
  }
}
.gallery {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 20px;
  background-color: #f6f6f6;
  padding: 20px;
}

@media (max-width: 768px) {
  .gallery {
    width: 100%;
    flex-direction: column;
    border-radius: 0;
    background-color: unset;
    margin-top: 10px;
    padding: 0;
  }
}
header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}
header img {
  height: 60px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
header nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 550;
  color: black;
}

.active-link {
  text-decoration: underline;
}

@media (max-width: 768px) {
  header {
    margin-bottom: 10px;
  }
  header img {
    height: 50px;
  }
  header nav {
    gap: 15px;
  }
  header nav a {
    font-size: 14px;
    text-transform: uppercase;
  }
}
.host {
  display: flex;
  text-align: right;
  align-items: center;
  max-width: 180px;
  gap: 15px;
  color: #f46062;
  cursor: default;
}
.host img {
  width: 64px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .host {
    font-size: 14px;
    font-weight: 600;
  }
  .host img {
    width: 40px;
  }
}
.home-banner {
  height: 220px;
  margin-bottom: 30px;
}

.home-gallery {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .home-banner {
    height: 110px;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .home-gallery {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .home-banner {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
.rating {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 5px;
  margin-top: 15px;
}
.rating img {
  width: 30px;
}

@media (max-width: 768px) {
  .rating {
    justify-content: flex-start;
    margin-top: 0;
    gap: 3px;
  }
  .rating img {
    width: 25px;
  }
}
.slideshow {
  width: 100%;
  position: relative;
}
.slideshow img {
  width: 100%;
  height: 410px;
  object-fit: cover;
  border-radius: 20px;
}
.slideshow .sld-arrow {
  width: 40px;
  position: absolute;
  object-fit: contain;
  opacity: 0.9;
  cursor: pointer;
}
.slideshow .prev {
  top: 0;
  left: 3%;
  transform: rotate(180deg);
}
.slideshow .next {
  top: 0;
  right: 3%;
}
.slideshow span {
  font-size: 18px;
  font-weight: 500;
  color: white;
  position: absolute;
  bottom: 30px;
  right: 50%;
}

.is-visible {
  display: unset;
}

.is-invisible {
  display: none;
}

@media (max-width: 768px) {
  .slideshow img {
    height: 300px;
    border-radius: 15px;
  }
  .slideshow .sld-arrow {
    width: 16px;
  }
  .slideshow span {
    display: none;
  }
}
.tag {
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: white;
  background-color: #f46062;
  padding: 3px 40px;
  border-radius: 10px;
  cursor: default;
}

@media (max-width: 768px) {
  .tag {
    font-size: 12px;
    padding: 3px 30px;
    border-radius: 5px;
  }
}/*# sourceMappingURL=style.css.map */