@use "../../scss/utils";

.accomodation-slideshow {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
}

.accomodation-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.accomodation-title {
  display: flex;
  flex-direction: column;
  width: 60%;

  h2 {
    color: utils.$main-color;
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 5px 0;

    + span {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }

  div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.accomodation-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accomodation-description {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 50px;
}

@media (max-width: utils.$small-screen-width) {
  .accomodation-slideshow {
    margin-bottom: 10px;
  }

  .accomodation-infos {
    flex-direction: column;
  }

  .accomodation-title {
    width: 100%;
    margin-bottom: 10px;

    h2 {
      font-size: 18px;

      + span {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }

  .accomodation-rating {
    flex-direction: row-reverse;
  }

  .accomodation-description {
    flex-direction: column;
    gap: 30px;
  }
}
