@use "../../scss/utils";

.drop-box {
  width: 100%;
}

.drop-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: utils.$main-color;
  color: utils.$txt-dark-bg;
  font-size: 22px;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px;
}

.drop-txt {
  background-color: #fbfbfb;
  font-size: 18px;
  font-weight: 400;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  max-height: 0;
  transition: max-height 0.4s ease;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.is-open {
  max-height: 500px;
}

.is-closed {
  display: none;
}

.fa-spin {
  --fa-animation-duration: 0.3s;
  --fa-animation-iteration-count: 0.5;
}

@media (max-width: utils.$small-screen-width) {
  .drop-title {
    font-size: 16px;
  }

  .drop-txt {
    font-size: 14px;
  }
}
