@use "utils";

.about-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-banner {
  width: 100%;
  margin-bottom: 50px;
}

.about-drop-boxes {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}
