@use "../scss/utils";

html {
  height: 100%;
}

#root {
  height: 100%;
}

#main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  height: 100%;
  max-width: utils.$desktop-max-width;
  margin: auto;
  font-family: "Montserrat";
  font-size: 18px;
}

main {
  flex-grow: 1;
}

header,
main {
  margin: 0 50px;
}

.conditionnal-break {
  display: none;
}

@media (max-width: utils.$small-screen-width) {
  header,
  main {
    margin: 0 30px;
  }

  .conditionnal-break {
    display: unset;
  }
}
