@use "../scss/utils";

body {
  max-width: utils.$desktop-max-width;
  margin: auto;
  font-family: "Montserrat";
  font-size: 18px;
}

header,
main {
  margin: 0 50px;
}

.conditionnal-break {
  display: none;
}

@media (max-width: utils.$small-screen-width) {
  header,
  main {
    margin: 0 30px;
  }

  .conditionnal-break {
    display: unset;
  }
}
