@use "utils";

.drop-box {
  width: 100%;
}

.drop-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: utils.$main-color;
  color: utils.$txt-dark-bg;
  font-size: 24px;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px;

  img {
    transition: transform 0.3s ease;
  }
}

.drop-txt {
  background-color: #fbfbfb;
  font-size: 18px;
  font-weight: 400;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  max-height: 0;
  transition: max-height 0.4s ease;
}

.is-open {
  max-height: 500px;
}

.is-closed {
  display: none;
}

.rotated {
  transform: rotate(-180deg);
}
