@use "utils";

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;

  img {
    height: 50px;
  }
}

nav {
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: utils.$txt-light-bg;
    margin: 0 20px;
  }
}

.active-link {
  text-decoration: underline;
}
