//Main colors
$main-color: rgb(244,96,98);
$secondary-color: gray;

//Background
$bg-dark: black;
$bg-light: white;

//Text
$txt-dark-bg: white;
$txt-light-bg: black;

//Miscellaneous
$radius-btn: 10px;


