@use "../../scss/utils";

// Variables pour gestion des arrondis de bannière
$banner-radius: 20px;
$small-banner-radius: 15px;

.banner {
  @extend %flex-center;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: $banner-radius;
  box-shadow: 0 5px 5px gray;
  cursor: default;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: $banner-radius;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: $banner-radius;
  }

  h1 {
    @extend %shadowed-text;
    color: utils.$txt-dark-bg;
    font-size: 48px;
    z-index: 10;
    position: absolute;
    padding: 30px;
  }
}

@media (max-width: utils.$small-screen-width) {
  .banner {
    justify-content: unset;
    border-radius: $small-banner-radius;
    box-shadow: unset;

    &::after {
      border-radius: $small-banner-radius;
    }

    img {
      border-radius: $small-banner-radius;
    }

    h1 {
      font-size: 24px;
    }
  }
}
