@use "../../scss/utils";

.error {
  @extend %flex-center;
  flex-direction: column;
  color: utils.$main-color;

  span {
    margin-top: 80px;
    color: utils.$main-color;
    font-size: 288px;
    font-weight: 700;
  }

  p {
    margin-top: 100px;
    font-size: 36px;
    font-weight: 500;
  }

  a {
    margin-top: 120px;
    margin-bottom: 50px;
    color: utils.$txt-light-bg;
  }
}

@media (max-width: utils.$small-screen-width) {
  .error {
    span {
      font-size: 120px;
    }

    p {
      font-size: 24px;
    }

    a {
      margin-bottom: 160px;
    }
  }
}
